<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    

</head>

<body>
<div class="ui inverted menu">
  <a class="active violet item"></a>
  <a class="active violet item"></a>
  <a class="active purple item"></a>
  <a class="active purple item"></a>
  <a class="active pink item"></a>
  <a class="active pink item"></a>
  <a class="active pink item"></a>
  <a class="active pink item"></a>
</div>
</body>

</html>